[Container]
Environment=MYSQL_ROOT_PASSWORD=admin MARIADB_ROOT_PASSWORD=admin
Exec='--character-set-server=utf8mb4' '--collation-server=utf8mb4_unicode_ci' --skip-character-set-client-handshake --skip-innodb-read-only-compressed
HealthCmd=mysqladmin ping -h localhost --password=admin
HealthInterval=1s
HealthRetries=20
Image=docker.io/mariadb:10.6
Network=frappe_network
Volume=db-data:/var/lib/mysql

[Service]
Restart=on-failure
