[Unit]
Requires=redis-cache.service redis-queue.service
After=backend.service

[Container]
Environment=FRAPPE_REDIS_CACHE=redis://redis-cache:6379 FRAPPE_REDIS_QUEUE=redis://redis-queue:6379
Exec=bench worker --queue 'short,default'
Image=docker.io/frappe/erpnext:v15.84.0
Network=systemd-frappe_network
Volume=sites:/home/frappe/frappe-bench/sites
Volume=logs:/home/frappe/frappe-bench/logs

[Service]
Restart=on-failure
